
*{
box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6{
margin:0;
}

body{
font-family: 'Open Sans', sans-serif;
font-size:14px;
color:#000;
margin:0;
}

.container{
width:100%;
max-width:1170px;
margin:0 auto;
padding:0;
}

.navbar{
	padding:0;
	height:123px;
	width:1403px;
}

 .navbar-collapse{
 	display:flex;
 	justify-content:space-between;
 	text-align:center;
 }

 .navbar-nav{
 	margin-bottom:-2px;
 }

.navbar-brand{
font-size:25px;
font-weight:700;
color:#212121;
line-height:0.88;
text-align:center;
margin:0;
padding:0;
margin-right:342px;
}

.navbar-brand:hover{
color:#212121;
}

.nav-link{
	padding:0 !important;
	font-size:20px;
	font-weight:600;
	color:#212121;
	line-height:1.1;
	letter-spacing:1.5px;
}

.nav-item{
margin-right:42px;
}

.nav-item:last-child{
margin-right:0;
}

.nav-link .nav-link-sp{
	letter-spacing:5px !important;
}


/* intro */

 .intro{
 display:flex;
 flex-direction:column;
 justify-content:center;
 height: 660px;

 background:url(../images/HEADER.png) center no-repeat;
 -webkit-background-size: cover;
    background-size: cover;
 }	

.intro__inner{
width:100%;
max-width:812px;
margin:0 auto;

text-align:center;
}

.intro__title{
	font-size:60px;
	font-weight:600;
	color:#fff;

    margin-bottom:15px;
}

.intro__subtitle{
font-size:22px;
font-weight:400;
color:#fff;
line-height:normal;

margin-bottom:107px;
}


 /* buttons */

.btn-group{
display: flex;
    align-items: center;
    justify-content: center;
    height:77px;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    position: relative;
    flex:none;
}

.btn-serv{
 display:inline-block;
 padding:18px 33px 21px 35px;

 font-size:20px;
 font-weight:700;
 color:#fff;
 letter-spacing:1.5px;
 font-family: 'Roboto', sans-serif;

 background-color:inherit;
 border:4px #FFFFFF solid;
 margin-right:25px;
 border-radius:none;

 transition:border-color background-color color .2s ease-in;
}

.btn-serv:hover{
background-color:#fff;
border-color:#fff;
color:#444;
}

.btn-serv:focus{
background-color:#fff;
border-color:#fff;
color:#444;
}

.btn-hire{
display:inline-block;
 padding:18.5px 43px 20.5px 43px;

 font-size:20px;
 font-weight:700;
 color:#fff;
 letter-spacing:1.5px;
 font-family: 'Roboto', sans-serif;

 background-color:inherit;
 border:4px #00897B solid;

 transition:border-color background-color color .2s ease-in;
}

.btn-hire:hover{
background-color:#00897B;
border-color:#00897B;
color:#fff;
}

.btn-hire:focus{
background-color:#00897B;
border-color:#00897B;
color:#fff;
}

 /* section */

 .section{
 	padding:116px 0 92px;
 }

 .section--cards{
 	padding:164px 0 126px;
 	background-color:#E4FDF9;
 }

 .section__header{
 width:100%;
 max-width:640px;
 margin:0 auto;

 text-align:center;
 height:134px;
 }


.section__title{
	font-size:30px;
	font-weight:700;
	color:#212121;
	line-height:0.73;

	margin-bottom:22px;
}

.section__text{
	font-size:15px;
	font-weight:400;
	color:#212121;
	line-height:1.46;
}


 /* about us */


.about__us{
margin-top:89px;
}

.row{
padding:0 !important;
margin:0 auto !important;
 width:100%;
 max-width:1070px;

justify-content:space-between;
text-align:center;
}

.abus{
	padding:0  !important;
margin:0 !important;
width:270px;
height:237px;
justify-content:center;
text-align:center;
}

.about__title{
font-size:20px;
font-weight:600;
color:#212121;
line-height:1.1;
letter-spacing:1.2px;

margin-bottom:16.6px;
}

.about__title1{
margin-top:36px;
}

.about__title2{
margin-top:29px;
}

.about__title3{
margin-top:36px;
}

.about__text{
font-size:15px;
font-weight:400;
color:#212121;
line-height:1.46;
letter-spacing:0.7px;
}


/* Cards */

.cards_all{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
}

.card{
width:370px;
height:438px;
padding:58px 42px 50px;
text-align:center;
}

.cards_all > .card{
margin-bottom:31px;
}

.card-body{
padding:0;
}

.card__img{
display:block;
width:56px;
height:62px;

margin-left: auto;
    margin-right: auto;
}


.card-title{
font-size:20px;
font-weight:600;
color:#212121;
line-height:1.1;

margin-top:32px;
margin-bottom:14px;
}


.card-text{
font-size:15px;
font-weight:400;
color:#212121;
line-height:1.66;
text-align:center;
letter-spacing:1.2px;

margin-bottom:45px;
}

.btn-read_more{
padding:14px 13px;

font-size:20px;
font-weight:600;
line-height:1.1;
text-transform:uppercase;

color:#212121;
border:2px #212121 solid;
border-radius:0;
}











